* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 100%;
}

/* ###### Nav #####*/
.navbar {
    padding: .8rem;
}

.item-p {
    padding-right: 20px;
}


.top-nav-collapse {
    position: fixed;
    background: #fff;
    z-index: 999999;
    top: 0px !important;
    padding: 20;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    background: #1d224d !important;
}

.logo-v {
    width: 85%;
}

.navbar-nav .p-20 {
    padding-right: 20px;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Mitr', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: .9rem;
    color: #b2b2b2;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #76f369;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #76f369;
    transition: 0.5s;
}


.top-nav-collapse {
    position: fixed;
    z-index: 999999;
    top: 0px !important;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    background: #201a32 !important;
}

.top-nav-collapse .navbar-nav .nav-item .nav-link {
    color: #ddd;
}

.top-nav-collapse .navbar-nav .nav-item .nav-link:hover {
    color: #42dc71;
}

.arrow {
    display: flex;
    justify-content: center;
    position: relative;
    top: 625px;
    z-index: 4;
}

.arrow i {
    color: #2d3371;
}


/* ######### header #############*/


h1 {
    margin-top: 33%;
    font-family: 'Mitr', sans-serif;
    font-size: 5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    position: absolute;
}

.color-letter {
    color: #76f369;
}

.description {
    font-family: 'Mitr', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    position: absolute;
    top: 478px;
}

.astronaut {
    margin-left: 70px;
    margin-bottom: -30px;
    position: absolute;
    width: 90%;
    top: 100px;
    
}

#particles-js {
    width: 100%;
    height: 100vh;
    background: #2d3371;
    z-index: 1;
}

/* ####### Habilidades #########*/

#skills {
    padding-top: 10%;
    padding-bottom: 40%;
}

#skills:before {
    content: '';
    background-image: url(../img/between.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 68px;
    top: 621px;
    z-index: 1;
}


.skill-title {
    text-align: center;
}

.skill-1 {
    font-size: 2.7rem;
    font-weight: 900;
    color: #8286b3;
}

.skill-2 {
    color: #2d3371;
    text-transform: uppercase;
    font-family: 'Mitr', sans-serif;
    font-weight: 600;
    letter-spacing: .1rem;
}

.skill-p {
    font-family: 'Mitr', sans-serif;
    text-transform: uppercase;
    color: #565656;
    letter-spacing: .1rem;
}



.box h3 {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Mitr', sans-serif;
    color: #1f1933;
}

.chart {
    position: relative;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #1f1933;
    font-size: 25px;
    line-height: 110px;
}

.box {
    margin-bottom: 4%;
}

.box canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.container-circle1 {
    margin-top: 8%;
}

.container-circle2 {
    margin-top: 5%;
}

/*######### CURRICULUM VITAE ###########*/

#cv {
    padding-bottom: 30%;
}

#cv:before {
    content: '';
    background-image: url(../img/bg-2-01.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 1020px;
    z-index: 3;
    top: 70rem;
}

.education {
    margin-bottom: 8%;
}

hr {
   border-top: 1.5px solid #d1d1d1;
   width: 80%;
}

.title-cv {
    color: #2d3371;
    text-transform: uppercase;
    font-family: 'Mitr', sans-serif;
    font-size: 1.4rem;
}

.desc-cv {
    color: #272727;
    font-family: 'Mitr', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    margin-bottom: 4%;
}

.desc-title{
    color: #2d3371;
    text-transform: uppercase;
    font-family: 'Mitr', sans-serif;
    font-size: .9rem;
}

.desc-cv-proyect {
    color: #272727;
    font-family: 'Mitr', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    margin-bottom: 0;
}

.list-material {
    margin-left: 20%;
}

.year {
    font-family: sans-serif;
    color: #2d3371;
    font-weight: bold;
}


.icon-ig {
    color: #2d3371;
    font-weight: 700;
    font-size: 1rem;
}

.icon-ig span {
    font-family: 'Mitr', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 3%;
}

.space-points {
    letter-spacing: .5rem;
    font-weight: 700;
    color: #2d3371;
}

.button-download-cv {
    border: 3px solid #2d3371;
    width: 38%;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Mitr', sans-serif;
    color: #2d3371;
    text-align: center;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    border-radius: 5px;
    margin: 0 auto;
    transition: 1s all ease;
    position: relative;
    overflow: hidden;
}

.dw-text:hover {
    text-decoration:none;
}

.button-download-cv:hover {
    color: white;
}

.button-download-cv::before {
    background: #222963;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.btndownload::before {
    width: 0;
    height: 120%;
}

.btndownload:hover::before {
    width: 120%;
}


/*############ PORTFOLIO ########### */

#portfolio {
    padding-bottom: 20%;
}

#portfolio::before {
    content: '';
    background-image: url(../img/bg-3-01.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 220px;
    top: 212rem;

}

.seemore {
    text-transform: uppercase;
    font-family: 'Mitr', sans-serif;
    color: #2d3371;
    font-weight: 500;
}

.seemore-btn:hover {
    text-decoration: none;
}

.image {
    text-align: center;
}

/*########### CONTACTO ############*/

#contacto {
    background-color: #222963;
    padding-top: 20%;
    padding-bottom: 10%;
}

#contacto:before {
    content: '';
    background-image: url(../img/bg-4-01.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 450px;
    top: 266rem;
    z-index: 2;
}

.skill-3 {
    color: white;
    text-transform: uppercase;
    font-family: 'Mitr', sans-serif;
    font-weight: 600;
    letter-spacing: .1rem;
}

.contact-container {
    padding-top: 8%;
    padding-bottom: 10%;
}

.icon-contact {
    color: white;
    font-size: 2rem;
    margin-bottom: 3%;
}

.title-contact {
    color: white;
    font-size: 1.3rem;
    font-family: 'Mitr', sans-serif;
    font-weight: 500;
}

.desc-contact {
    color: white;
    font-size: .8rem;
    font-family: 'Mitr', sans-serif;
    font-weight: lighter;
}

.form-group {
    margin-bottom: 1.6rem;
}

.form-control::placeholder {
    color: white;
}

.form-control {
    border-bottom: 1px solid white;
}

.message-form {
    padding-bottom: 20%;
}

.btn {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #b275e7;
    border: none;
    color: white;
    font-family: 'Mitr', sans-serif;
    text-transform: uppercase;
    font-size: .8rem;
    border-radius: 5px;
    transition: 1s all ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn::before {
    background: #4ab15e;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.send:hover {
    color: white;
}

.btn::before {
    width: 0;
    height: 120%;
}

.btn:hover::before {
    width: 120%;
}

/*####### FOOTER ###########*/

footer {
    padding-top: 2%;
    padding-bottom: 1%;
    background-color: #1d224d;
}

.copy-container {
    margin-top: 1%;
}

.a-social {
    color: white;
}

.a-social:hover {
    color: white;
    text-decoration: none;
}

.copyr {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1rem;
    vertical-align: middle;
    margin-top: 10px;
    color: white;
}

.social-networks {
    color: white;
    margin-bottom: 20px;
    font-size: 1.6rem;
    margin-left: 50%;
}

.icon-social-n {
    margin-right: 20px;
}

.icon-social-n:hover {
    color: #76f369;
}

/*########## MOBILE S #########*/

@media (max-width: 320px) {
    /*###### HEADER #######*/
    h1 {
        font-size: 3.2rem;
        text-align: center;
        margin-top: 60%;
    }

    .description {
        top: 420px;
        text-align: center;
    }

    #skills:before {
        top: 531px;
    }

    .arrow {
        top: 537px;
    }

    /*######## SKILLS #######*/
    #skills {
        padding-top: 30%;
    }

    .skill-1 {
        font-size: 1.7rem;
    }

    .skill-p {
        font-size: .8rem;
    }

    .box {
        margin-bottom: 19%;
    }

    /*######## CV ##########*/
    #cv:before {
        top: 103rem;
    }

    .button-download-cv {
        width: 81%;
    }

    /*######## PORTFOLIO #######*/
    #portfolio::before {
        top: 253rem;
    }

    #portfolio {
        padding-bottom: 60%;
        padding-top: 30%;
    }

    /*####### CONTACT #########*/
    .group-form {
        margin-bottom: 7%;
    }

    .icon-contact {
        font-size: 1.5rem;
    }

    .title-contact {
        font-size: .9rem;
    }
    
    .desc-contact {
        display: none;
    }

    /*######### FOOTER ############*/
    .copyr {
        text-align: center;
    }

    .social-networks {
        margin-left: 0;
        text-align: center;
    }
}

@media (max-width: 991px) {
    .astronaut {
        display: none;
    }

    hr {
        width: 100%;
    }

    .title-cv {
        text-align: center;
        margin-bottom: 4%;
    }

    .desc-cv {
        text-align: center;
    }

    .desc-title {
        text-align: center;
    }

    .desc-cv-proyect {
        text-align: center;
    }

    .social-cv {
        text-align: center;
    }

}

@media (max-width: 767px) {

    /* Navigation */ 
    #mainNav {
        background-color: #201a32;
    }

    .navbar-light .navbar-brand {
        margin: 0 10px 0 45%;
    }

    .nav-item {
        text-align: center;
        padding-right: 0;
    }

    .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
        opacity: 1; }
    
      .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
        opacity: 0; }
    
      .navbar-toggler[aria-expanded="true"] span:first-child {
        transform: rotate(-45deg);
        position: relative;
        top: 7.5px; }
    
      .navbar-toggler[aria-expanded="true"] span:last-child {
        transform: rotate(45deg);
        bottom: 6px;
        position: relative; }

    .navbar-toggler span {
        display: block;
        width: 25px;
        height: 3px;
        background: #fff;
        margin: auto;
        margin-bottom: 4px;
        transition: all 400ms linear;
        cursor: pointer;
    }
}